* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

body {
    background-color: #DDD0B2;
    color: #5A3408;
}

header {
    background-color: #311700;
    padding: 16px;
    border-bottom: 3px solid #B38A56;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #B38A56;
}

header a {
    color: #B38A56;
    text-decoration: none;
    padding: 8px;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.sobre-loja {
    display: flex;
}

.sobre-loja img {
    padding: 24px 24px 24px 0;
    width: 420px;
}

.sobre-loja h2 {
    margin-top: 24px;
    border-bottom: 1px solid #B38A56;
    margin-bottom: 24px;
}

.produtos button {
    width: 200px;
    padding: 8px;
    background-color: #B38A56;
    color: #5A3408;
    border: none;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
    max-width: 320px;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(3, 32.6%);
    gap: 2%;
    margin-bottom: 50px;
    align-items: end;
}

footer {
    padding-top: 24px;
    width: 100%;
}

#footer-copyright {
    display: flex;
    justify-content: center;
    background-color: #311700;
    color: #B38A56;
    padding: 1.5em;
    font-weight: 100;

}

@media screen and (min-width:642px) and (max-width:1024px) {
    .container {
        max-width: 90%;
    }

    .produtos {
        grid-template-columns: repeat(2, 49%);
        gap: 2%;
    }

}

@media screen and (max-width:640px) {
    .container {
        max-width: 90%;
    }

    .container {
        flex-direction: column;
    }

    .sobre-loja img {
        max-width: 90%;
    }

    .produtos {
        display: block;
    }

    .produtos article {
        margin-bottom: 16px;
    }

    .sobre-loja p{
        margin-bottom: 16px;
    }
}